<form method="POST">
    <legend>Forgot Password</legend>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" autofocus="autofocus" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>