<h1>Reset Password</h1>
<form method="POST">
    <input type="text" name="email" autofocus="autofocus" placeholder="email"/>
    <button type="submit">Reset</button>
    <a href="/login" class="small">Back to Login</a>
</form>
