<h1>Login</h1>
<form method="POST">
    <input type="text" name="username" autofocus="autofocus" placeholder="username"/>
    <input type="password" name="password" placeholder="password"/>
    <button type="submit" class="btn btn-primary">Login</button>
    <div class="flex">
        <a href="/signup" class="small">Signup</a>
        <a href="/forgot" class="small forgot">Forgot Password?</a>
    </div>
</form>