<h1>Reset Password</h1>
<form method="POST">
    <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus"/>
    <input type="password" name="confirm" value="" placeholder="Confirm password"/>
    <button type="submit" >Reset Password</button>
</form>