<form method="POST">
    <legend>Signup</legend>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" autofocus="autofocus" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="confirm">Confirm Password</label>
        <input type="password" name="confirm" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">Signup</button>
</form>